@model Leemo.Model.InputModels.UpdateInputProductLead
<!--single form panel-->

<input type="hidden" asp-for="State" value="@Model.State" />
<input type="hidden" asp-for="City" value="@Model.City" />
<input type="hidden" asp-for="Phone" value="@Model.Phone" />
<input type="hidden" asp-for="Country" value="@Model.Country" />
<input type="hidden" asp-for="AddressLine1" value="@Model.AddressLine1" />
<input type="hidden" asp-for="AddressLine2" value="@Model.AddressLine2" />
<input type="hidden" asp-for="ZipCode" value="@Model.ZipCode" />
<input type="hidden" asp-for="Fax" value="@Model.Fax" />



<div class="multisteps-form__form">
    <div class="multisteps-form__panel js-active" data-animation="scaleIn">
        <h3 class="multisteps-form__title text-center">Create Your Password</h3>
        <div class="multisteps-form__content">

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="u_password" class="label-style-2">New Password</label>
                        <input class="multisteps-form__input input-style-2" type="password" asp-for="NewPassword" id="u_password">
                        <span asp-validation-for="@Model.NewPassword" class="text-danger" />
                    </div>
                </div>
                <div class="u_pswd_info form-group" style="display: none;">
                    <div class="col-12">
                        <label class="text-danger">Password must meet the following requirements:</label>
                        <ul>
                            <li id="u_length" class="u_invalid">Minimum <strong>8 characters</strong></li>
                            <li id="u_capital" class="u_invalid">Minimum <strong>one capital letter</strong></li>
                            <li id="u_letter" class="u_invalid">Minimum <strong>One lowercase letter</strong></li>
                            <li id="u_special" class="u_invalid">Minimum <strong>one special character</strong></li>
                            <li id="u_number" class="u_invalid">Minimum <strong>one numeric digit</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 mt-4 mt-sm-0">
                    <div class="form-group">
                        <label for="u_confirm_password" class="label-style-2">Confirm Password</label>
                        <input class="multisteps-form__input input-style-2" asp-for="ConfirmPassword" type="password" id="u_confirm_password">
                        <span asp-validation-for="@Model.NewPassword" class="text-danger" />
                    </div>
                    <div class="u_incorrectMsg">'Confirm Password' and 'New Password' do not match.</div>
                </div>
                <div class="col-12 mt-4 mt-sm-0 text-center">

                    <p id="passwordValidate" class="text-danger" />

                </div>

            </div>
            <div class="button-row d-flex mt-4 col-12">
                <button class="btn js-btn-prev custom-btn" onclick="orderComments()" type="button" title="Prev">Prev</button>
                <button class="btn ml-auto js-btn-next custom-btn" type="button" onclick="ValidatePassword()" title="Next">Submit </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    /*$('.toast').toast('show');*/

	 var password = [];
      var password2 = [];


      $(document).ready(function() {
          password = $('#u_password');
          password2 = $('#u_confirm_password');

          var ruleValidator = function() {
              var pswd = $(this).val();
              //gets what is being input in the field and sets as variable

              if(pswd.length < 8) {
                  $('#u_length').removeClass('u_valid').addClass('u_invalid');
              } else {
                  $('#u_length').removeClass('u_invalid').addClass('u_valid');
                  // console.log('length '+ pswd.length);
              }

              // letter
              if(pswd.match(/[a-z]/) ) {
                  $('#u_letter').removeClass('u_invalid').addClass('u_valid');
              } else {
                  $('#u_letter').removeClass('u_valid').addClass('u_invalid');
              }

              // Capital
              if(pswd.match(/[A-Z]/)) {
                  $('#u_capital').removeClass('u_invalid').addClass('u_valid');
              } else {
                  $('#u_capital').removeClass('u_valid').addClass('u_invalid');

              }

              // number
              if ( pswd.match(/\d/) ) {
                  $('#u_number').removeClass('u_invalid').addClass('u_valid');
              } else {
                  $('#u_number').removeClass('u_valid').addClass('u_invalid');
              }

              // character
              if ( pswd.match(/[$&+,:;=?@@#|'<>.^*()%!-]/) ) {
                  $('#u_special').removeClass('u_invalid').addClass('u_valid');
                  // console.log('log: '+ pswd);
              } else {
                  $('#u_special').removeClass('u_valid').addClass('u_invalid');
              }
          }

          password.focus(function() {
          // (triggers whenever the password field is selected by the user)
              $('.u_pswd_info').slideDown();
          });
          password.blur(function() {
          // (triggers whenever the password field is unselected)
              $('.u_pswd_info').slideUp();
            });
          $('.js-btn-next').on('click', function (e) {
              var Data = $('#WebDomain');
              e.preventDefault();
              if (!Data.valid()) {
                  return false;
              }
                
                if(password.val() !== password2.val()) {
                    $('.u_incorrectMsg').show();
                } else {
                    $('.u_incorrectMsg').hide();
                }

            });
            password.keyup(ruleValidator);
        });
});
</script>


