@model Leemo.Web.Models.Common.ImageUpload

<div class="modal-dialog">
    <div class="modal-content card-style xl-space">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-profile-img text-center">
            @if (Model != null)
            {
                <img id="displayImage" src="@Model.ImagePath" alt="@Model.Alt" title="@Model.Title">
            }
            <br><br>
            <a href="javascript:void(0);" onclick="fnCloseModal('@Model.DisplayImageModalTarget')" data-toggle="modal" data-target="@Model.EditImageModalTarget">Edit</a>
            @*<a href="javascript:void(0);" onclick="fnCloseModal('@Model.DisplayImageModalTarget')">Edit</a>*@
        </div>
    </div>
</div>